:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.drag-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(128, 128, 128, 0.3);
}
.drag-layer:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.drag-icon {
  font-size: 22px;
  color: rgba(128, 128, 128, 0.8);
}
.drag-icon:hover {
  color: rgba(128, 128, 128, 1);
}

/* >>> .size-menu .mat-menu-content {
  background-color: lightgray;
} */
