<div *ngIf="editMode" class="drag-layer" fxLayout="row" dnd-draggable [dragEnabled]="true" [dragData]="dragItem">
  <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end start" style="margin: 10px;">
    <div style="color: gray; margin-right: 5px;" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </div>
    <div [matMenuTriggerFor]="menu" style="color: gray;">
      <mat-icon>more_vert</mat-icon>
    </div>
    <mat-menu #menu="matMenu" class="size-menu">
      <button mat-menu-item (click)="resize([1, 1])">
        <mat-icon>dialpad</mat-icon>
        <span>1 x 1</span>
      </button>
      <button mat-menu-item (click)="resize([1, 2])">
        <mat-icon>dialpad</mat-icon>
        <span>1 x 2</span>
      </button>
      <button mat-menu-item (click)="resize([1, 3])">
        <mat-icon>dialpad</mat-icon>
        <span>1 x 3</span>
      </button>
      <button mat-menu-item (click)="resize([2, 1])">
        <mat-icon>dialpad</mat-icon>
        <span>2 x 1</span>
      </button>
      <button mat-menu-item (click)="resize([2, 2])">
        <mat-icon>dialpad</mat-icon>
        <span>2 x 2</span>
      </button>
      <button mat-menu-item (click)="resize([2, 3])">
        <mat-icon>dialpad</mat-icon>
        <span>2 x 3</span>
      </button>
      <button mat-menu-item (click)="resize([3, 1])">
        <mat-icon>dialpad</mat-icon>
        <span>3 x 1</span>
      </button>
      <button mat-menu-item (click)="resize([3, 2])">
        <mat-icon>dialpad</mat-icon>
        <span>3 x 2</span>
      </button>
      <button mat-menu-item (click)="resize([3, 3])">
        <mat-icon>dialpad</mat-icon>
        <span>3 x 3</span>
      </button>
    </mat-menu>
  </div>
</div>
<ng-content></ng-content>
