:host {
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; */
  width: 100%;
  height: 100%;
}

.table-title {
  background-color: white;
  border: lightgray solid 1px;
  padding-top: 15px;
  height: 50px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-bottom: none;
  font-weight: 400;
}

.withTitle {
  height: calc(100% - 50px);
}

.withoutTitle {
  height: 100%;
}
