:host {
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; */
  width: 100%;
  height: 100%;
}

.table-title {
  font-weight: 400;
  padding-left: 15px;
  font-size: 16px;
}

.export-button {
  font-size: 8px;
  margin-bottom: -20px;
  color: rgba(0, 0, 0, 0.54);
}

.withTitle {
  height: calc(100% - 50px);
}

.withoutTitle {
  height: 100%;
}
