<div fxLayout="column" style="height: 100%; width: 100%;">
  <!--
    <div fxFlex="0 0 40px" *ngIf="componentConfig.title" class="table-title">
      {{ componentConfig.title | translate }}
    </div>
  -->
  <div fxFlex [ngClass]="componentConfig.title ? 'withTitle' : 'withoutTitle'">
    <kendo-grid
      [style.height.%]="100"
      [style.fontSize.px]="componentConfig.fontSize"
      [data]="gridResources | async"
      [loading]="gridLoading"
      [pageSize]="componentConfig.pageSize"
      [skip]="gridState.skip"
      [pageable]="{
        buttonCount: componentConfig.pageCountNumber,
        info: componentConfig.pageInfo,
        type: componentConfig.pageType,
        pageSize: componentConfig.pageSize,
        previousNext: componentConfig.pageButton
      }"
      [filter]="gridState.filter"
      [sort]="gridState.sort"
      [sortable]="{
        allowUnsort: componentConfig.allowUnsort,
        mode: componentConfig.sortMode
      }"
      [selectable]="gridSelect"
      [filterable]="componentConfig.filterMode"
      [resizable]="componentConfig.resizable"
      (dataStateChange)="dataStateChange($event)"
    >
      <ng-template
        kendoGridToolbarTemplate
        *ngIf="
          componentConfig.title || componentConfig.exportToPDF || componentConfig.exportToExcel
        "
      >
        <div fxLayout="row" fxLayoutAlign="end center">
          <div fxFlex="1 1 auto" class="table-title">{{ componentConfig.title | translate }}</div>
          <button
            fxFlex="0 0 auto"
            class="export-button"
            kendoGridPDFCommand
            icon="file-pdf"
            *ngIf="componentConfig.exportToPDF"
          >
            {{ 'key_exportToPDF' | translate }}
          </button>
          <button
            fxFlex="0 0 auto"
            class="export-button"
            kendoGridExcelCommand
            icon="file-excel"
            *ngIf="componentConfig.exportToExcel"
          >
            {{ 'key_exportToExcel' | translate }}
          </button>
        </div>
      </ng-template>
      <kendo-grid-checkbox-column
        *ngIf="componentConfig.selectable"
        [showSelectAll]="componentConfig.selectMode === 'multiple'"
        [width]="componentConfig.selectBoxWidth"
      ></kendo-grid-checkbox-column>
      <kendo-grid-column
        *ngFor="let col of componentConfig.columns"
        [field]="col.field"
        [title]="col.title"
        [sortable]="col.sortable"
        [filterable]="col.filterable"
        [filter]="col.filter"
        [width]="col.width"
        [locked]="col.locked"
        [style]="{
          'padding-top': componentConfig.cellPadding.toString() + 'px',
          'padding-bottom': componentConfig.cellPadding.toString() + 'px'
        }"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span> {{ dataItem.Attributes[col.field].Value }} </span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-pdf
        *ngIf="componentConfig.exportToPDF"
        fileName="export.pdf"
        [allPages]="componentConfig.exportAllPages"
      >
        <kendo-grid-pdf-margin
          top="1cm"
          left="1cm"
          right="1cm"
          bottom="1cm"
        ></kendo-grid-pdf-margin>
      </kendo-grid-pdf>
      <kendo-grid-excel
        *ngIf="componentConfig.exportToExcel"
        fileName="export.xlsx"
        [fetchData]="allData"
      >
        <kendo-excelexport-column
          *ngFor="let col of componentConfig.columns"
          [title]="col.title"
          [field]="'Attributes.' + col.field + '.Value'"
        ></kendo-excelexport-column>
      </kendo-grid-excel>
    </kendo-grid>
  </div>
</div>
