<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%;">
  <mat-form-field fxFlex="1 1 auto" *ngIf="data.attribute">
    <input
      matInput
      [placeholder]="
        componentConfig.displayName ? componentConfig.displayName : data.attribute.DisplayName
      "
      [(ngModel)]="data.attribute.Value"
      [readonly]="!componentConfig.editMode || componentConfig.readonly"
      [matTooltip]="componentConfig.showSystemName ? data.attribute.SystemName : undefined"
      (change)="onValueChange()"
    />
    <mat-hint
      [innerHTML]="
        (componentConfig.description ? componentConfig.description : data.attribute.Description)
          | safeHtml
      "
    ></mat-hint>
  </mat-form-field>
</div>
