<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%;">
  <mat-form-field fxFlex="1 1 auto" *ngIf="data.attribute">
    <input
      matInput
      [placeholder]="
        componentConfig.displayName ? componentConfig.displayName : data.attribute.DisplayName
      "
      [value]="data.attribute.Value"
      [readonly]="!componentConfig.editMode"
    />
    <mat-hint
      [innerHTML]="
        componentConfig.description ? componentConfig.description : data.attribute.Description
      "
    ></mat-hint>
  </mat-form-field>
  <div fxFlex="0 0 auto" class="mouse-pointer" matTooltip="{{'key_delete'|translate}}">
    <mat-icon color="warn">delete</mat-icon>
  </div>
  <div fxFlex="0 0 auto" class="mouse-pointer" matTooltip="{{'key_configure'|translate}}">
    <mat-icon color="primary">settings</mat-icon>
  </div>
</div>
