<div class="login-cover">
</div>
<div class="login-filter"></div>
<div class="login-form" [class.mat-elevation-z8]="true">
  <div class="login-header" [class.mat-elevation-z8]="true" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="1 1 100" class="login-brand">Login</div>
    <div fxFlex="auto" class="login-icon"><i class="fa fa-windows"></i></div>
    <div fxFlex="auto" class="login-icon"><i class="fa fa-user"></i></div>
    <div fxFlex="auto" class="login-icon"><i class="fa fa-cloud"></i></div>
  </div>
</div>
