<div class="login-cover">
</div>
<div class="login-filter"></div>
<div [@flyIn]="flyIn" [@classicLogin]="classicLogin" class="login-form" [class.mat-elevation-z8]="true">
  <div class="login-header" [class.mat-elevation-z8]="true" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="1 1 100" class="login-brand">{{'key_login'|translate}}</div>
    <div fxFlex="auto" class="login-icon">
      <fa-icon [icon]="faWindows"></fa-icon>
    </div>
    <div fxFlex="auto" class="login-icon">
      <fa-icon [icon]="faUserAlt" (click)="onClassicLogin()"></fa-icon>
    </div>
    <div fxFlex="auto" class="login-icon">
      <fa-icon [icon]="faCloud"></fa-icon>
    </div>
  </div>
  <div @loginForm *ngIf="classicLogin==='expanded'" class="login-input" fxLayout="column">
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
      <fa-icon fxFlex="0 0 auto" class="login-input-icon" [icon]="faUserCircle"></fa-icon>
      <mat-form-field fxFlex="auto">
        <input matInput [placeholder]="'key_userName'|translate" [(ngModel)]="userName">
      </mat-form-field>
    </div>
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
      <fa-icon fxFlex="0 0 auto" class="login-input-icon" [icon]="faLock"></fa-icon>
      <mat-form-field fxFlex="auto">
        <input matInput [placeholder]="'key_password'|translate" [(ngModel)]="password">
      </mat-form-field>
    </div>
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center">
      <button class="login-button" mat-button>{{'key_submit'|translate}}</button>
    </div>
  </div>
</div>
