.first-tab-element {
  margin-top: 20px;
}

.drag-container {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 20px;
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
}

.drag-container > div {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 10px;
  margin: 5px;
}
.drag-container > div:hover {
  background-color: rgba(211, 211, 211, 1);
}

.drag-cell {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 20px;
}

.drag-item {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 10px;
  height: 100%;
  width: 100%;
}
.drag-item:hover {
  background-color: rgba(211, 211, 211, 1);
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-header-cell {
  font-size: 14px;
}
