<h3 mat-dialog-title>{{'key_chartConfig'|translate}}</h3>
<div mat-dialog-content fxLayout="column" fxLayoutGap="20px">
  <div fxFlex="auto" fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex="auto" cdkFocusInitial>
      <mat-select [placeholder]="'key_chartType'|translate" [(ngModel)]="data.seriesType">
        <mat-option value="pie">pie</mat-option>
        <mat-option value="donut">donut</mat-option>
        <mat-option value="column">column</mat-option>
        <mat-option value="line">line</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="auto">
      <input matInput [placeholder]="'key_chartTitle'|translate" [(ngModel)]="data.chartTitle">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions flexLayout="row" flexLayoutAlign="end center">
  <button fxFlex mat-button mat-dialog-close="submit">{{'key_submit'|translate}}</button>
  <button fxFlex mat-button mat-dialog-close="cancel">{{'key_cancel'|translate}}</button>
</div>
