<h3 mat-dialog-title>{{'key_chartConfig'|translate}}</h3>
<div mat-dialog-content fxLayout="row">
  <div fxFlex="auto" fxLayout="column" style="height: 500px; width: 460px;">
    <!-- chart type and chart title -->
    <div fxFlex="auto" fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="auto" cdkFocusInitial>
        <mat-select [placeholder]="'key_chartType'|translate" [(ngModel)]="data.objectConfig.seriesType">
          <mat-option value="pie">pie</mat-option>
          <mat-option value="donut">donut</mat-option>
          <mat-option value="column">column</mat-option>
          <mat-option value="line">line</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="auto">
        <input matInput [placeholder]="'key_chartTitle'|translate" [(ngModel)]="data.objectConfig.chartTitle">
      </mat-form-field>
    </div>
    <div fxFlex="auto" fxLayout="row">
      <mat-form-field fxFlex="auto">
        <input matInput [placeholder]="'key_seriesName'|translate" #seriesName>
      </mat-form-field>
      <div fxFlex="0 0 auto">
        <button [disabled]="!seriesName.value" mat-button color="primary" matTooltip="{{'key_add'|translate}}" (click)="onAddSeries(seriesName.value); seriesName.value=''"
          style="min-width: 24px; width: 24px; margin: 0; padding: 0; margin-top: 12px;">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </div>
    <!-- settings and series -->
    <mat-tab-group fxFlex="auto" style="height: 400px;">
      <!-- advanced settings -->
      <mat-tab [label]="'key_settings'|translate">
        <div fxFlex="auto" fxLayout="column" fxLayoutGap="20px" style="margin-top: 10px;">
          <!-- chart label -->
          <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-slide-toggle fxFlex="none" [(ngModel)]="data.objectConfig.labelConfig.visible" style="width: 120px;"
              #labelVisible>{{'key_chartLabel'|translate}}</mat-slide-toggle>
            <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="auto" style="margin-right: 10px;">
                <input matInput [placeholder]="'key_chartLabelFormat'|translate" [(ngModel)]="data.objectConfig.labelConfig.format"
                  [disabled]="!labelVisible.checked">
              </mat-form-field>
              <div fxFlex="0 0 auto" [(colorPicker)]="data.objectConfig.labelConfig.color" cpPosition="left"
                [style.backgroundColor]="data.objectConfig.labelConfig.color" style="height: 24px; width: 24px; cursor: pointer; border: solid darkgray"
                [cpDisabled]="!labelVisible.checked"></div>
            </div>
          </div>
          <!-- chart legend -->
          <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-slide-toggle fxFlex="none" [(ngModel)]="data.objectConfig.legend.visible" style="width: 120px;"
              #legendVisible>{{'key_chartLegend'|translate}}</mat-slide-toggle>
            <mat-form-field fxFlex="auto">
              <mat-select [placeholder]="'key_chartLegendPosition'|translate" [(ngModel)]="data.objectConfig.legend.position"
                [disabled]="!legendVisible.checked">
                <mat-option value="top">top</mat-option>
                <mat-option value="bottom">bottom</mat-option>
                <mat-option value="left">left</mat-option>
                <mat-option value="right">right</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- chart tooltip -->
          <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-slide-toggle fxFlex="none" [(ngModel)]="data.objectConfig.tooltipConfig.visible" style="width: 120px;"
              #tooltipVisible>{{'key_chartTooltip'|translate}}</mat-slide-toggle>
            <mat-form-field fxFlex="auto">
              <input matInput [placeholder]="'key_chartTooltipFormat'|translate" [(ngModel)]="data.objectConfig.tooltipConfig.format"
                [disabled]="!tooltipVisible.checked">
            </mat-form-field>
          </div>
          <!-- chart colors -->
          <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="none" style="width: 120px; font-weight: 400; font-size: 14px;">{{'key_chartColors'|translate}}</div>
            <div fxFlex="auto" style="display: flex;">
              <div *ngFor="let color of data.objectConfig.seriesColor; let i = index; trackBy:trackByFn"
                [(colorPicker)]="data.objectConfig.seriesColor[i]" (colorPickerClose)="onCPClosed()" cpPosition="top"
                [style.backgroundColor]="data.objectConfig.seriesColor[i]" style="height: 24px; width: 24px; cursor: pointer;margin-right: 10px; border: solid darkgray;"></div>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- series settings -->
      <mat-tab *ngFor="let serie of data.objectConfig.seriesConfig" [label]="serie.name">
        <ng-template matTabContent>
          <mat-card *ngFor="let query of serie.queryConfig" style="border-left: solid darkseagreen 5px; margin-top: 10px; padding: 12px;">
            <mat-card-header fxLayout="row" fxLayoutAlign="end center">
              <button mat-button color="warn" [disabled]="serie.queryConfig.length === 1" matTooltip="{{'key_delete'|translate}}"
                (click)="onDeleteQuery(serie, query)" style="width: 24px; min-width: 24px; padding: 0; margin: 0;">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutGap="10px">
              <div fxFlex="auto" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="auto">
                  <input matInput [placeholder]="'key_queryName'|translate" [(ngModel)]="query.name">
                </mat-form-field>
                <mat-form-field fxFlex="auto">
                  <input matInput [placeholder]="'key_queryMethod'|translate" [(ngModel)]="query.method">
                </mat-form-field>
              </div>
              <mat-form-field fxFlex="auto">
                <input matInput [placeholder]="'key_query'|translate" [(ngModel)]="query.query">
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <div fxLayout="row" style="margin-top: 20px;">
            <button fxFlex mat-button color="primary" (click)="onApplySeries()">
              <mat-icon style="margin-right: 10px; font-size: 16px; height: 18px;">assignment_turned_in</mat-icon>{{'key_apply'|translate}}
            </button>
            <button fxFlex mat-button (click)="onAddQuery(serie)">
              <mat-icon style="margin-right: 10px; font-size: 16px; height: 18px;">playlist_add</mat-icon>{{'key_add'|translate}}
            </button>
            <button fxFlex mat-button color="warn" [disabled]="data.objectConfig.seriesConfig.length===1" (click)="onDeleteSeries(serie)">
              <mat-icon style="margin-right: 10px; font-size: 16px; height: 18px;">delete</mat-icon>{{'key_delete'|translate}}
            </button>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-divider [vertical]="true" style="margin-left: 20px; margin-right: 0;"></mat-divider>
  <div fxFlex="auto" style="height: 480px; width: 300px;">
    <app-chart #exampleChart [data]="data.objectConfig"></app-chart>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-top: 20px;">
  <button fxFlex="none" mat-button [mat-dialog-close]="data.objectConfig" style="width: 180px;">{{'key_submit'|translate}}</button>
  <button fxFlex="none" mat-button mat-dialog-close="cancel" style="width: 180px;">{{'key_cancel'|translate}}</button>
</div>
